﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <title>TDMax WebFotos - Transdata Smart</title>

    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    @*@Styles.Render("~/css/google-fonts.css")*@
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-transdata.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/angular-dashboard-framework.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/thumbnails.css" />
    <link rel="stylesheet" type="text/css" href="~/css/validation.css" />
    <link rel="stylesheet" type="text/css" href="~/css/sweetalert2.css" />

    <link rel="stylesheet" type="text/css" href="~/js/app/dashboard/widgets/relogio/widget.css" />

    <script src="~/js/modernizr.js"></script>
    <script src="~/js/respond.min.js"></script>


    <link rel="stylesheet" type="text/css" href="~/css/atlas-engine.css" />
    <link rel="stylesheet" type="text/css" href="~/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-datepicker3.css" />

</head>
<body ng-style="{'background-color': ($root.controller === 'IndexCtrl' || $root.controller === 'ConferenciaCtrl' ||
      $root.controller === 'ConferenciaEmbarcadoCtrl' || $root.controller === 'ConferenciaGratuitoCtrl' ||$root.controller === 'AplicarPenalizacaoCtrl' || $root.controller === 'ReclassificacaoCtrl')
      ?  'rgb(209,219,225)' : 'white'}"
      ng-app="WebFotos" ng-keyup="$root.keyup($event, $root)">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header pull-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                <header class="nomeApp">TDMax WebFotos</header>

                <img width="36px" height="36px" src="@Url.Content("~/images/tdmax/transdata_simbolo_white.svg")" alt="Transdata Smart" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="$root.playConferencia($root.controller)" href="">
                        <i class="fa fa-fw" ng-class="{ 'fa-play': $root.controller !== 'ConferenciaCtrl'
                           , 'fa-stop': ($root.controller === 'ConferenciaCtrl' || $root.controller === 'ReclassificacaoCtrl') }"></i>
                        Conferência
                    </a>
                </li>
                <li ng-show="$root.config.sistemaSeccionado && $root.config.habilitarTirarFotosEmbarcado">
                    <a ng-href="{{$root.controller !== 'ConferenciaEmbarcadoCtrl' ? '#/conferenciaEmbarcado' : '#/'}}">
                        <i class="fa fa-fw" ng-class="{ 'fa-play': $root.controller !== 'ConferenciaEmbarcadoCtrl', 'fa-stop': $root.controller === 'ConferenciaEmbarcadoCtrl' }"></i>
                        Conf. Embarcados
                    </a>
                </li>
                <li ng-show="$root.config.habilitarAcessoGratuitoBotoeira">
                    <a ng-href="{{$root.controller !== 'ConferenciaGratuitoCtrl' ? '#/conferenciaGratuito' : '#/'}}">
                        <i class="fa fa-fw" ng-class="{ 'fa-play': $root.controller !== 'ConferenciaGratuitoCtrl', 'fa-stop': $root.controller === 'ConferenciaGratuitoCtrl' }"></i>
                        Conf. Gratuito
                    </a>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>
                        <span ng-bind="$root.user.login"></span> - <span ng-bind="$root.user.name"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-show="( $root.user.perfilID == 1 ) && ( $root.controller === 'ConferenciaCtrl' || $root.controller === 'AplicarPenalizacaoCtrl' )"
                               ng-click="$root.personalizarPainel()" href=""><i class="fa fa-paint-brush fa-fw"></i>Personalizar painel</a>
                        </li>
                        <li ng-show="( $root.user.perfilID == 1 ) && ( $root.controller === 'ConferenciaCtrl' || $root.controller === 'AplicarPenalizacaoCtrl' )" class="divider"></li>

                        <li>
                            <a ng-show="( $root.user.perfilDescricao == 'Admin TDMax' )" ng-href="{{'#/pesquisa-grupo-operadora'}}">
                                <i class="fa fa-group fa-fw"></i>
                                Grupos de operadoras
                            </a>
                        </li>

                        <li>
                            <a ng-show="$root.user.perfilDescricao == 'Admin Grupo Operadora'" ng-href="{{'#/pesquisa-usuariosperfis'}}">
                                <i class="fa fa-user fa-fw"></i>
                                Vincular usuários
                            </a>
                        </li>

                        <li ng-show="($root.user.perfilDescricao == 'Admin TDMax')">
                            <a href="#/pesquisa-penalizacoes"><i class="fa fa-chain fa-fw"></i> Penalizações </a>
                        </li>
                        <li><a href="" ng-click="$root.alterarSenha()"><i class="fa fa-key fa-fw"></i> Alterar senha</a></li>
                        <li><a href="" ng-click="$root.logoff()"><i class="fa fa-sign-out fa-fw"></i> Sair</a></li>
                    </ul>
                </li>

                <li class="dropdown" id="TituloPeriodo" ng-show="$root.config.habilitarLotePeriodo">
                    <a href="" id="PeriodoMenu" ng-disabled="$root.desabilitaFiltro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-calendar fa-fw"></i> Filtrar por período<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width:605px;white-space:nowrap" role="menu">
                        <li class="navbar-form list-inline">
                            <form class="form">
                                <div class="input-daterange input-group" style="width:400px;" id="datepicker">
                                    <input type="text" class="input-group-sm form-control" name="start" ng-model="$root.dataIni" placeholder="Data inicial" />
                                    <span class="input-group-addon"> até </span>
                                    <input type="text" class="input-group-sm form-control" name="end" ng-model="$root.dataFim" placeholder="Data final" />
                                </div>
                                <a href="#conferencia" class="btn btn-default">Filtrar</a>
                                <input type="button" class="btn btn-default" ng-click="limparFiltroPeriodo()" value="Limpar filtro" />
                            </form>
                        </li>
                    </ul>
                </li>

                <li ng-show="($root.user.PerfilDescricao == 'Admin Grupo Operadora' || $root.user.PerfilDescricao == 'Admin TDMax' || $root.user.PerfilDescricao == 'Crítico' )">
                    <a ng-href="{{'#/pesquisa-relatorio'}}">
                        <i class="fa fa-pie-chart fa-fw"></i>
                        Relatórios
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="body-content">
        <div ng-view></div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <ul class="nav navbar-nav pull-right" idle-countdown="countdown">
            <li title="Expiração da sessão">
                <a>
                    <i class="fa fa-clock-o fa-fw"></i>
                    <span ng-if="countdown < 60" class="badge"> {{countdown | secondsToDateTime | date:'mm:ss'}} </span>
                    <span ng-if="countdown >= 60" class="badge"> {{countdown | secondsToDateTime | date:'mm'}}:00 </span>
                </a>
            </li>
            <li title="Cidade"><a><i class="fa fa-database fa-fw"></i> <span class="badge" ng-bind="$root.config.cidade"></span></a></li>
            <li title="Versão da aplicação"><a><i class="fa fa-info-circle fa-fw"></i> <span class="badge" ng-bind="$root.serverInfo.version"></span></a></li>
        </ul>
        <div class="navbar-collapse collapse">
            <div ng-if="($root.controller === 'ConferenciaCtrl') || ($root.controller === 'ConferenciaEmbarcadoCtrl')
             || ($root.controller === 'ConferenciaGratuitoCtrl') || ($root.controller === 'AplicarPenalizacaoCtrl') ||
                 ($root.controller === 'ReclassificacaoCtrl')"
                 ng-include="'/templates/navegacao.html'">
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-route.min.js"></script>
    <script src="~/js/angular-transdata.js"></script>
    <script src="~/js/angular-transdata-utils.js"></script>

    <script src="~/js/angular-animate.min.js"></script>
    <script src="~/js/angular-sanitize.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/moment.pt-BR.js"></script>
    <script src="~/js/lodash.min.js"></script>

    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.pt-BR.min.js"></script>

    @*<script src="~/js/Chart-2.1.6.js")*@

    <script src="~/js/chart.js"></script>

    <script src="~/js/atlas-engine.js"></script>
    <script src="~/js/toastr.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />
    <script src="~/js/bootstrap-select.min.js"></script>

    <script>
        $().ready( function () {
            $( '.input-daterange' ).datepicker( {
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                todayBtn: "linked"
            } );
        } );
    </script>

    <script src="~/js/Sortable.min.js"></script>
    <script src="~/js/ui-sortable.js"></script>
    <script src="~/js/ui-bootstrap.min.js"></script>
    <script src="~/js/ui-bootstrap-tpls.min.js"></script>
    <script src="~/js/bootstrap-transdata-validation.min.js"></script>
    <script src="~/js/angular-ui-mask.min.js"></script>
    <script src="~/js/angular-dashboard-framework.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/angular-idle.min.js"></script>

    <script src="~/js/app/library/Storage.js"></script>
    <script src="~/js/app/library/Server.js"></script>

    <script src="~/js/app/common.js"></script>
    <script src="~/js/app/preloader.js"></script>
    <script src="~/js/app/directives.js"></script>

    <script src="~/js/app/dashboard/widgets/advertencias/widget.js"></script>
    <script src="~/js/app/dashboard/widgets/cadastro/widget.js"></script>
    <script src="~/js/app/dashboard/widgets/register/widget.js"></script>
    <script src="~/js/app/dashboard/widgets/relogio/widget.js"></script>
    <script src="~/js/app/dashboard/widgets/access/widget.js"></script>
    <script src="~/js/app/dashboard/widgets/integration/widget.js"></script>
    <script src="~/js/app/dashboard/app.js"></script>
    <script src="~/js/app/dashboard/defaults.js"></script>
    <script src="~/js/app/dashboard/structure.js"></script>
    <script src="~/js/app/dashboard/data.js"></script>

    <script src="~/js/app/data/app.js"></script>
    <script src="~/js/app/data/acessoInfo.js"></script>
    <script src="~/js/app/data/advertenciaPessoal.js"></script>
    <script src="~/js/app/data/advertencias.js"></script>
    <script src="~/js/app/data/cadastrosTipos.js"></script>
    <script src="~/js/app/data/camerascomparacoes.js"></script>
    <script src="~/js/app/data/camerasproduto.js"></script>
    <script src="~/js/app/data/configuracao.js"></script>
    <script src="~/js/app/data/empresa.js"></script>
    <script src="~/js/app/data/fotosAcesso.js"></script>
    <script src="~/js/app/data/login.js"></script>
    <script src="~/js/app/data/lote.js"></script>
    <script src="~/js/app/data/perfil.js"></script>
    <script src="~/js/app/data/problemaCamera.js"></script>
    <script src="~/js/app/data/serverInfo.js"></script>
    <script src="~/js/app/data/subTipos.js"></script>
    <script src="~/js/app/data/transacao.js"></script>
    <script src="~/js/app/data/transacoes.js"></script>
    <script src="~/js/app/data/usuarioWebFotos.js"></script>

    <script src="~/js/app/conferencia/app.js"></script>
    <script src="~/js/app/conferencia/state.js"></script>
    <script src="~/js/app/conferencia/directives.js"></script>
    <script src="~/js/app/conferencia/controllers.js"></script>

    <script src="~/js/app/fotosAcesso/app.js"></script>
    <script src="~/js/app/fotosAcesso/controllers.js"></script>

    <script src="~/js/app/app.js"></script>

    <link rel="stylesheet" type='text/css' href="~/css/ng-table.min.css" />
    <script type='text/javascript' src="~/js/ng-table.min.js"></script>

    @*<link rel="stylesheet" type="text/css" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css" />
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>*@
</body>
</html>