﻿<div class="container body-content">
    <div class="modal-body form-horizontal">
        <h2><span class="fa fa-image"></span> Fotos de acesso</h2>
        <hr />
        <div ng-if="!loaded" class="text-center">
            <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
            <p>Aguarde, carregando...</p>
        </div>

        <div ng-if="loaded">
            <div class="panel" ng-class="{ 'panel-yellow': ( model.StatusID != 2 && model.StatusID != 3 && model.StatusID != 4 )
                , 'panel-red': (model.StatusID == 4), 'panel-green': (model.StatusID == 2 || model.StatusID == 3) }">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Status conferência: </strong> 
                        <i class="fa fa-fw" ng-class="{ 'fa-times': (model.StatusID == 4), 'fa-check': (model.StatusID == 2 || model.StatusID == 3),
                           'fa-question': (model.StatusID == 5), 'fa-camera': (model.StatusID == 6), 'fa-ban': (model.StatusID == 7), 'fa-image': (model.StatusID == 8),
                           'fa-warning': ( model.StatusID == 0 || model.StatusID == 1 ) }">
                        </i> <strong>{{model.StatusConferencia}}</strong> 
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2" style="display:flex; flex-wrap: wrap;">
                            <div class="media-box foto-cadastro">
                                <img style="margin-bottom:0px;" src="Content/images/blank-cadastro.png" data-load-image="model.imagens.cadastro.url" 
                                     alt="Foto do cadastro" class="img-responsive thumbnail" />
                            </div>
                        </div>

                        <label style="margin-top:2px;" class="col-sm-4 control-label ng-binding">Usuário:</label>
                        <div style="margin-top:2px;" class="col-sm-6 label-display">
                            <span>{{model.CadastroID}} - {{model.Usuario}}</span>
                        </div>

                        <label class="col-sm-4 control-label ng-binding">Lote:</label>
                        <div class="col-sm-6 label-display">
                            <span ng-bind="model.LoteID"></span>
                        </div>

                        <label class="col-sm-4 control-label ng-binding">Data do acesso:</label>
                        <div class="col-sm-6 label-display">
                            <span ng-bind="model.DataAcesso"></span>
                        </div>

                        <label class="col-sm-4 control-label ng-binding">Tipo de acesso:</label>
                        <div class="col-sm-6 label-display">
                            <span ng-bind="model.TipoAcesso"></span>
                        </div>

                        <label class="col-sm-4 control-label ng-binding">Prefixo:</label>
                        <div class="col-sm-6 label-display">
                            <span ng-bind="model.Prefixo"></span>
                        </div>

                        <label class="col-sm-4 control-label ng-binding">Linha:</label>
                        <div class="col-sm-6 label-display">
                            <span>{{model.CodLinha}} - {{model.Linha}}</span>
                        </div>

                        <label class="col-sm-4 control-label ng-binding">Funcionário comparação:</label>
                        <div class="col-sm-6 label-display">
                            <span ng-bind="model.FuncComparacao"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-orange">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Fotos de acesso</strong>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5ths" ng-repeat="item in model.imagens.acesso">
                            <div class="media-box foto-acesso">
                                <div class="pdf-thumb-box">
                                    <div class="pdf-thumb-box-overlay">
                                        <div class="row">
                                            <div>
                                                <a class="btn btn-info hidden-xs" ng-click="ampliarImagem(item,$event)" data-toggle="modal"
                                                    data-target="#imagemAmpliada" title="Clique para ampliar esta foto.">
                                                    <i class="fa fa-search fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <img style="margin-bottom:0px;" src="Content/images/blank-transacao.png" data-load-image="item.url" 
                                         alt="Foto" class="img-responsive thumbnail" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade tela-cheia" id="imagemAmpliada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Foto ampliada</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="media-box foto-cadastro">
                        <img src="Content/images/blank-cadastro.png" data-load-image="model.imagens.cadastro.url" alt="Foto do cadastro" class="img-responsive thumbnail" />
                    </div>
                    <hr />
                    <div class="col-sm-6 col-md-6" ng-repeat="item in model.imagens.acesso">
                        <a href="" ng-click="ampliarImagem(item);" ng-class="{ 'active': imagemAmpliada.url === item.url }" class="thumbnail">
                            <img src="Content/images/blank-transacao.png" data-load-image="item.url" alt="Foto" />
                        </a>
                    </div>
                    <hr />
                </div>
                <div class="col-sm-6 col-md-8 col-lg-10">
                    <div class="imagem-ampliada">
                        <img src="Content/images/blank-transacao.png" data-load-image="imagemAmpliada.grd" data-load-fallback="imagemAmpliada.url" alt="Foto ampliada" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>