﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advertência por acesso indevido</title>
    <style>
        h1 {
            text-align: center;
        }

        div {
            text-align: justify;
        }

        .acessos table {
            width: 100%;
            border: 1px;
            font-size: 12px;
            color: #333;
            border-width: 1px;
            border-color: #bce8f1;
            border-collapse: collapse;
        }

            .acessos table thead tr {
                background-color: #fff;
            }

            .acessos table thead th {
                font-size: 12px;
                background-color: #d9edf7;
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #bce8f1;
                color: #31708f;
                text-align: center;
            }

            .acessos table tdoby tr {
                background-color: #fff;
            }

            .acessos table tbody td {
                font-size: 12px;
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #bce8f1;
                text-align: center;
            }

        #fotoCadastro {
            display: block;
            float: left;
            height: 200px;
        }

        #fotoCadastroAvatar {
            display: block;
            float: left;
            height: 150px;
        }

        #painel {
            height: 200px;
            border: solid 1px;
            margin-left: 160px;
            margin-top: 0px;
            padding: 5px 0 0 15px;
            background-color: white;
            border-radius: 10px;
        }

            #painel ul {
                float: left;
                margin-top: 15px;
            }

                #painel ul li {
                    float: left;
                    width: 100%;
                    display: inherit;
                }

                    #painel ul li label {
                        padding-top: 3px;
                        padding-bottom: 5px;
                    }

                    #painel ul li .tit {
                        display: inline-block;
                        width: 110px;
                    }

        #fotosAcesso {
            display: block;
            width: 100%;
            padding: 0px;
        }

            #fotosAcesso li {
                float: left;
                margin-right: 5px;
                margin-bottom: 5px;
                width: 248px;
                display: inherit;
                border: 1px solid lightgray;
            }

                #fotosAcesso li img {
                    width: 248px;
                }

    </style>
</head>
<body>
    <div class="row no-print">
        <div class="pull-right">
            <a class="btn btn-default" ng-click="voltar()">
                <i class="fa fa-arrow-left fa-fw"></i>
                Voltar
            </a>
            <button class="btn btn-default" onclick="window.print();">
                <i class="fa fa-print fa-fw"></i>
                Imprimir
            </button>
        </div>
    </div>

    <div class="print-area" style="font-family: 'Times New Roman'">
        <h1><strong>Advertência por acesso indevido</strong></h1>
        <br />
        <br />
        <div style="text-align: right;">[LOCAL], [DATA_EXTENSO]</div>

        <br />
        <br />
        <div>
            Eu [NOME], portador do CPF [CPF] e cartão número [CARTAO_ATUAL], declaro estar ciente de que nas datas especificadas
            abaixo meu cartão foi usado de forma indevida com o meu consentimento e que a reincidência
            terá como consequencia a suspensão do meu benefício no sistema de transporte público.
        </div>

        <br />
        <br />

        <div class="acessos">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Cartão Utilizado</th>
                        <th>Linha</th>
                        <th>Prefixo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>[DATA]</td>
                        <td>[CARTAO_UTILIZADO]</td>
                        <td>[LINHA]</td>
                        <td>[PREFIXO]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br />

        <div>
            <table>
                <tr>
                    <td>
                        <img id="[ID_FOTOCAD]" src="[CAD_IMAGE]">

                        <div id="painel">
                            <ul>
                                <li><label class='tit'>Código: </label>[CODIGO]</li>
                                <li><label class='tit'>Nome: </label>[NOME]</li>
                                <li><label class='tit'>CPF: </label>[CPF]</li>
                                <li><label class='tit'>RG: </label>[RG]</li>
                                <li><label class='tit'>Cartão Atual: </label>[CARTAO_UTILIZADO] - [TIPO]</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <br />

        <div>
            <ul id="fotosAcesso">
                [ACESSOS_IMAGES]
            </ul>
        </div>

        <table style="display:inline-table; border-top: 1px solid black; width: 300px; margin-top:300px;">
            <tr>
                <td align="center">[NOME]</td>
            </tr>
        </table>
    </div>
</body>
</html>
