﻿<div class="container body-content">
    <h2><span class="fa fa-edit"></span> Advertência Pessoal</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-7">
                <input type="text" ng-model="busca" ng-change="buscar(1000)"
                       placeholder="Digite a descrição da penalização" class="form-control" style="max-width: initial;" />
            </div>

            <label for="status" class="control-label col-md-2" style="text-align:right;">Adv. Status</label>
            <div class="col-md-3">
                <select name="status" id="status" class="form-control" ng-change="buscar(100)"
                        ng-options="s.descricao for s in advStatus track by s.id"
                        ng-model="status">
                </select>
            </div>
        </div>
    </form>

    <hr />
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th class="text-center">Status</th>
                <th class="text-center">Adv.</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Ult. Ligação</th>
                <th>Ult. Advertência</th>
                <th class="text-center">Acões</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!loaded">
                <td colspan="100" class="text-center">
                    <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    <p>Aguarde, carregando...</p>
                </td>
            </tr>
            <tr ng-if="loaded && list.length == 0">
                <td colspan="100" class="text-center">
                    Nenhuma advertência!
                </td>
            </tr>
            <tr ng-if="loaded && list.length > 0" ng-repeat="i in list">
                <td ng-bind="i.cadastroID"></td>
                <td ng-bind="i.nome"></td>

                <td class="text-center" ng-if="i.bioStatusID == 0"> <i data-toggle="tooltip" data-placement="right" title="{{i.bioStatus}}" style="color:red" class="fa fa-times fa-fw"></i></td>
                <td class="text-center" ng-if="i.bioStatusID == 1"> <i data-toggle="tooltip" data-placement="right" title="{{i.bioStatus}}" style="color:green" class="fa fa-check fa-fw"></i></td>
                <td class="text-center" ng-if="i.bioStatusID > 1"> <i  data-toggle="tooltip" data-placement="right" title="{{i.bioStatus}}" style="color:red" class="fa fa-lock fa-fw"></i></td>
                                                                                                             
                <td class="text-center" ng-if="i.advStatusID == 0"> <i data-toggle="tooltip" data-placement="right" title="Pêndente" style="color:orange" class="fa fa-warning fa-fw"></i></td>
                <td class="text-center" ng-if="i.advStatusID == 1"> <i data-toggle="tooltip" data-placement="right" title="Ligação efetuada" style="color:green" class="fa fa-phone fa-fw"></i></td>
                <td class="text-center" ng-if="i.advStatusID == 2"> <i data-toggle="tooltip" data-placement="right" title="Desconsiderada" style="color:red" class="fa fa-ban fa-fw"></i></td>
                <td class="text-center" ng-if="i.advStatusID == 3"> <i data-toggle="tooltip" data-placement="right" title="Advertido" style="color:green" class="fa fa-print fa-fw"></i></td>

                <td ng-bind="i.telefone"></td>
                <td ng-bind="i.celular"></td>
                <td ng-bind="i.ultLigacao"></td>
                <td ng-bind="i.ultAdvertencia"></td>
                <td class="text-center">
                    <button ng-if="i.advStatusID == 0" type="button" class="btn btn-default btn-sm" ng-click="ligar(i)" 
                            title="Ligar" data-toggle="tooltip" data-placement="right">
                        <i class="fa fa-phone"></i>
                    </button>
                    <button ng-if="i.advStatusID == 1" type="button" class="btn btn-default btn-sm" ng-click="emitirAdv(i)" 
                            title="Emitir advertência" data-toggle="tooltip" data-placement="right">
                        <i class="fa fa-print"></i>
                    </button>
                    <button ng-if="i.advStatusID == 0 || i.advStatusID == 1" type="button" class="btn btn-default btn-sm" ng-click="desconsiderar(i)" 
                            title="Desconsiderar" data-toggle="tooltip" data-placement="right">
                        <i class="fa fa-ban"></i>
                    </button>
                    <button ng-if="i.advStatusID == 3" type="button" class="btn btn-default btn-sm" ng-click="emitirAdv(i)"
                            title="Emitir segunda via" data-toggle="tooltip" data-placement="right">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="loaded" class="text-center">
        <pagination total-items="pag.totalItems" ng-model="pag.currentPage" items-per-page="pag.pageSize"
                    boundary-links="true" force-ellipses="true" ng-change="pageChanged()"
                    first-text="Primeiros" last-text="Últimos" ng-show="list.length > 0"
                    previous-text="&laquo; Anteriores" next-text="Próximos &raquo;">
        </pagination>
    </div>
</div>