﻿<div class="container body-content">
    <div class="modal-body form-horizontal">
        <h2><span class="fa fa-check-square-o"></span> Auditar conferências</h2>
        <hr />
        <div ng-if="!loaded" class="text-center">
            <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
            <p>Aguarde, carregando...</p>
        </div>

        <div ng-if="loaded">
            <div class="panel" ng-class="{ 'panel-yellow': (model.StatusID == 0), 'panel-red': (model.StatusID != 1 && model.StatusID != 0), 'panel-green': (model.StatusID == 1) }">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Status: </strong> <i class="fa fa-fw" ng-class="{ 'fa-times': (model.StatusID ==0), 'fa-lock': (model.StatusID != 1 && model.StatusID != 0), 'fa-check': (model.StatusID == 1) }"></i> <strong>{{model.Status}}</strong>
                    </h4>
                </div>
                <div class="panel-body">
                    <label class="col-sm-2 control-label ng-binding">Código:</label>
                    <div class="col-sm-4 label-display">
                        <span ng-bind="model.CadastroID"></span>
                    </div>

                    <label class="col-sm-2 control-label ng-binding">Tipo:</label>
                    <div class="col-sm-4 label-display">
                        <span ng-bind="model.CadastroTipo"></span>
                    </div>

                    <label class="col-sm-2 control-label ng-binding">Nome:</label>
                    <div class="col-sm-4 label-display">
                        <span ng-bind="model.Nome"></span>
                    </div>

                    <label class="col-sm-2 control-label ng-binding">Subtipo:</label>
                    <div class="col-sm-4 label-display">
                        <span ng-bind="model.SubTipo"></span>
                    </div>

                    <label class="col-sm-2 control-label ng-binding">Cartão Atual:</label>
                    <div class="col-sm-4 label-display">
                        <span ng-bind="model.Cartao"></span>
                    </div>

                    <label class="col-sm-2 control-label ng-binding">Penalização:</label>
                    <div class="col-sm-4 label-display">
                        <span ng-bind="model.PenalizacaoDesc"></span>
                    </div>
                </div>
            </div>

            <div class="panel panel-orange">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Penalizações</strong>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table ng-if="model.PenalizacoesAplicadas.length > 0" class="table table-hover" style="width:98%; margin-bottom:0px; margin-top:0px;">
                            <thead>
                                <tr>
                                    <th style="width: 10%;" class="text-center">Divergência</th>
                                    <th style="width: 35%;">Descrição</th>
                                    <th style="width: 15%;">Cartão</th>
                                    <th style="width: 15%;">Acesso</th>
                                    <th style="width: 15%;">Penalização</th>
                                    <th style="width: 10%;" class="text-center">Status</th>
                                </tr>
                            </thead>
                        </table>
                        <div style="max-height: 380px; overflow-y: scroll;">
                            <table style="width:100%; margin-bottom:0px; margin-top:0px;" class="table table-hover">
                                <tbody>
                                    <tr ng-if="model.PenalizacoesAplicadas == 0">
                                        <td colspan="100" class="text-center">
                                            Nenhuma penalização!
                                        </td>
                                    </tr>
                                    <tr ng-if="model.PenalizacoesAplicadas.length > 0" ng-repeat="i in model.PenalizacoesAplicadas">
                                        <td style="width: 10%;" class="text-center">{{i.Ordem}}ª</td>
                                        <td style="width: 35%;" ng-bind="i.Descricao"></td>
                                        <td style="width: 15%;" ng-bind="i.Cartao"></td>
                                        <td style="width: 15%;" ng-bind="i.DataAcesso"></td>
                                        <td style="width: 15%;" ng-bind="i.DataPenalizacao"></td>

                                        <td style="width: 10%;" class="text-center" ng-if="i.Cancelado">
                                            <i ng-if="!i.Penalizado" style="color:red" title="Penalização cancelada" data-toggle="tooltip" data-placement="right" class="fa fa-times fa-fw"></i>
                                            <i ng-if="i.Penalizado" style="color:red" title="Penalização cancelada, porém aplicada" data-toggle="tooltip" data-placement="right" class="fa fa-times fa-fw"></i>
                                        </td>

                                        <td style="width: 10%;" class="text-center" ng-if="!i.Cancelado && i.AdvStatusID == 0">
                                            <i ng-if="!i.Penalizado" style="color:orange" title="Penalização pendente" data-toggle="tooltip" data-placement="right" class="fa fa-warning fa-fw"></i>
                                            <a ng-if="i.Penalizado && !i.Desbloqueado" title="Penalizado. Clique para cancelar penalização"
                                               data-toggle="tooltip" data-placement="right" such-href="/aplicarPenalizacao/{{model.CadastroID}}/{{i.CameraTransacaoID}}">
                                                <i class="fa fa-check fa-fw" style="color:green;"></i>
                                            </a>
                                            <i ng-if="i.Penalizado && i.Desbloqueado" style="color:blue" title="Desbloqueado" data-toggle="tooltip" data-placement="right" class="fa fa-unlock fa-fw"></i>
                                        </td>

                                        <!--Advertencia Pessoal-->
                                        <td style="width: 10%;" class="text-center" ng-if="!i.Cancelado && i.AdvStatusID > 0">
                                            <i ng-if="i.AdvStatusID == 1" style="color:green" title="Ligação Efetuada" data-toggle="tooltip" data-placement="right" class="fa fa-phone fa-fw"></i>
                                            <i ng-if="i.AdvStatusID == 2" style="color:red" title="Desconsiderada" data-toggle="tooltip" data-placement="right" class="fa fa-ban fa-fw"></i>
                                            <a ng-if="i.AdvStatusID == 3" title="Advertido, clique para segunda via"
                                               data-toggle="tooltip" data-placement="right" such-href="/impressao-adv-pessoal/{{i.CameraTransacaoID}}/{{model.CadastroID}}">
                                                <i class="fa fa-print fa-fw" style="color:green;"></i>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <a class="btn btn-default" ng-href="{{'#/pesquisa-auditar-conferencias'}}">
                    <i class="fa fa-arrow-left"></i>
                    Voltar
                </a>
                <a class="btn btn-info" title="Desbloquear cadastro" data-toggle="tooltip" data-placement="bottom" ng-if="model.StatusID == 4 || model.StatusID == 5" ng-click="desbloquear()">
                    <i class="fa fa-unlock"></i>
                    Desbloquear
                </a>
                <a class="btn btn-danger" title="Penalizar divergências pendêntes" data-toggle="tooltip" data-placement="bottom"
                   such-href="/aplicarPenalizacao/{{model.CadastroID}}/0">
                    <i class="fa fa-chain"></i>
                    Penalizar
                </a>
                <a class="btn btn-success" title="Reclassificar / zerar comparações" data-toggle="tooltip" data-placement="bottom" ng-click="reclassificar()">
                    <i class="fa fa-refresh"></i>
                    Reclassificar
                </a>
            </div>
        </div>
    </div>
</div>