﻿<div class="container body-content">
    <h2><span class="fa fa-check-square-o"></span> Auditar conferências</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input type="text" ng-model="buscaCad" ng-change="buscar(1000)"
                       placeholder="Digite o código ou nome do cadastro" class="form-control" style="max-width: initial;" />
            </div>

            <div class="col-md-6">
                <input type="text" ng-model="buscaNumSerie" ng-change="buscar(1000)"
                       placeholder="Digite o número de série do cartão" class="form-control" style="max-width: initial;" />
            </div>

        </div>
    </form>

    <hr />


    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Número de série</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!loaded">
                <td colspan="100" class="text-center">
                    <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    <p>Aguarde, carregando...</p>
                </td>
            </tr>
            <tr ng-if="loaded && list.length == 0">
                <td colspan="100" class="text-center">
                    Nenhum cadastro!
                </td>
            </tr>
            <tr ng-if="loaded && list.length > 0" ng-repeat="i in list" such-href="/exibe-auditar-conferencias/{{i.cadastroid}}" style="cursor:pointer;">
                <td ng-bind="i.cadastroid"></td>
                <td ng-bind="i.nome"></td>
                <td ng-bind="i.cartao"></td>
                <td ng-bind="i.cadastroTipo"></td>
            </tr>
        </tbody>
    </table>
</div>
