﻿<div>
    <div class="row painel-widgets">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" style="display:flex; flex-wrap: wrap;">
            <div class="media-box foto-cadastro">
                <img src="Content/images/blank-cadastro.png" data-load-image="atual.data.imagens.cadastro.url" alt="Foto do cadastro" class="img-responsive" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10 painel-info">
            <div class="row painel-widgets">
                <adf-dashboard name="wfdashboard" collapsible="false" maximizable="false" structure="4-4-4" adf-model="dashboard" />
            </div>
        </div>
    </div>
    <div class="row conferencias">
        <div>
            <div class="col-xs-12 col-sm-6 col-md-5ths" ng-repeat="item in atual.data.imagens.acesso">
                <div class="conf-foto">
                    <div ng-click="$root.setVerificacao('confere', item.fotoId);" title="<{{$index+1}}> - Clique para selecionar a melhor foto.">
                        <div class="media-box foto-acesso">
                            <div class="pdf-thumb-box">
                                <div class="pdf-thumb-box-overlay">
                                    <div class="row">
                                        <div>
                                            <a class="btn btn-info hidden-xs" ng-click="ampliarImagem(item,$event)" data-toggle="modal" data-target="#imagemAmpliada" title="Clique para ampliar esta foto.">
                                                <i class="fa fa-search fa-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="Content/images/blank-transacao.png" data-load-image="item.url" alt="Foto" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="icons">
                        <i style="color:#7cfc00" class="fa fa-check fa-3x" ng-show="atual.data.conferencia.status == 'confere' && atual.data.conferencia.foto == item.fotoId"></i>
                        <i style="color:#ff0000" class="fa fa-times fa-3x" ng-show="atual.data.conferencia.status == 'naoConfere'"></i>
                        <i style="color:#6495ed" class="fa fa-ban fa-3x" ng-show="atual.data.conferencia.status == 'ninguemNoFoco'"></i>
                        <i style="color:#ee7600" class="fa fa-question fa-3x" ng-show="atual.data.conferencia.status == 'duvida'"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade tela-cheia" id="imagemAmpliada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Foto ampliada</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="media-box foto-cadastro">
                        <img src="Content/images/blank-cadastro.png" data-load-image="atual.data.imagens.cadastro.url" alt="Foto do cadastro" class="img-responsive thumbnail" />
                    </div>
                    <hr />
                    <div class="col-sm-6 col-md-6" ng-repeat="item in atual.data.imagens.acesso">
                        <a href="" ng-click="ampliarImagem(item);" ng-class="{ 'active': imagemAmpliada.url === item.url }" class="thumbnail">
                            <img src="Content/images/blank-transacao.png" data-load-image="item.url" alt="Foto" />
                        </a>
                    </div>
                    <hr />
                    <div class="row text-center">
                        <div class="btn-group" role="group" aria-label="Informações sobre o processo de conferência">
                            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('confere', imagemAmpliada.fotoId)" data-dismiss="modal" class="btn btn-default" title="Confere">
                                <i class="fa fa-check fa-fw fa-2x"></i>
                            </a>
                            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('naoConfere')" data-dismiss="modal" class="btn btn-default" title="Não confere">
                                <i class="fa fa-remove fa-fw fa-2x"></i>
                            </a>
                            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('ninguemNoFoco')" data-dismiss="modal" class="btn btn-default" title="Ninguém no foco">
                                <i class="fa fa-ban fa-fw fa-2x"></i>
                            </a>
                            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('duvida')" data-dismiss="modal" class="btn btn-default" title="Dúvida">
                                <i class="fa fa-question fa-fw fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8 col-lg-10">
                    <div class="imagem-ampliada">
                        <img src="Content/images/blank-transacao.png" data-load-image="imagemAmpliada.grd" data-load-fallback="imagemAmpliada.url" alt="Foto ampliada" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>