﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title"><span class="fa fa-refresh"></span> Reclassificar</h3>
</div>
<div class="modal-body form-horizontal">
    <p><label class="control-label">Selecione um status:</label></p>
    <div class="list-group">
        <button class="list-group-item" ng-repeat="t in tiposRec" ng-class="{ 'active': t.selecionado }" ng-click="selecionarTipo(t);">
            <span ng-bind="t.Descricao"></span>
            <span class="badge"><span ng-bind="t.Quantidade"></span> fotos</span>
        </button>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" ng-if="selecionado.StatusReconhecimentoID != undefined" ng-click="save()">Confirmar</button>
</div>