﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #909090;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-bottom: 2em;
}

.center-content {
    margin-top: 10%;
    text-align: center;
}

.bg-text {
    color: #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.painel-info {
    padding: 1em 3em 1.5em 3em;
    background-color: #fff;
    border-radius: 15px;
    -moz-box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.75);
}

.widget {
    & > .widget-body {
        & > header {
            font-size: 1.2em;
            font-weight: bold;
            border-bottom: 1px solid #eee;
            margin-bottom: 0.25em;
        }

        margin-bottom: 0.5em;
    }
}

.painel-status {
    margin-top: 1.25em;
}

.conf-foto {
    display: inline-block;
    position: relative;
    margin-bottom: 1em;
    cursor: pointer;

    & > .icons {
        position: absolute;
        display: block;
        bottom: 45%;
        right: 45%;
        color: #00ff21;
    }
}

/* start image spinner */

.media-box {
    position: relative;
    overflow: hidden;
}

.foto-cadastro > img, .foto-cadastro > .spinner, .foto-cadastro > .image-error {
    width: 100%;
    height: auto;
    min-height: 50px;
}

.foto-acesso > img, .foto-acesso > .spinner, .foto-acesso > .image-error {
    width: 100%;
    height: auto;
    min-height: 50px;
}

.media-box div {
    position: absolute;
    left: 0;
    top: 0;
}

.spinner {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(../images/loading.gif) no-repeat center center;
    display: block;
}

.image-error {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(../images/image-error.png) no-repeat center center;
    display: block;
}

.foto-cadastro > img.spinner-show,
.foto-acesso > img.spinner-show {
    visibility: hidden;
}

.foto-cadastro > img.spinner-show,
.foto-acesso > img.spinner-show {
    visibility: visible;
}

/* end image spinner */

.row.conferencias {
    margin-top: 1.5em;
}

textarea.full-width {
    min-width: 100%;
}

/* Grid 5ths */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* End Grid 5ths*/