﻿<form role="form">
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.equipamento" /> Equipamento</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.sequencia" /> Sequência</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.turnoId" /> Id do turno</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.dataAcesso" /> Data do acesso</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.motorista" /> Motorista</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.cobrador" /> Cobrador</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.linha" /> Linha</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.prefixo" /> Prefixo</label>
    </div>
</form>