﻿<div class="widget-itens col-md-12">
    <div class="row" ng-show="config.exibir.equipamento">
        <div class="widget-title col-md-6">
            <strong>Equipamento:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.equipamento}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.sequencia">
        <div class="widget-title col-md-6">
            <strong>Sequência:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.sequencia}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.turnoId">
        <div class="widget-title col-md-6">
            <strong>Id do turno:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.turnoId}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.transacao">
        <div class="widget-title col-md-6">
            <strong>Transação:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.transacao}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.dataAcesso">
        <div class="widget-title col-md-6">
            <strong>Data do acesso:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{dataAcesso}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.motorista">
        <div class="widget-title col-md-6">
            <strong>Motorista:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.motorista}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.cobrador">
        <div class="widget-title col-md-6">
            <strong>Cobrador:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.cobrador}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.linha">
        <div class="widget-title col-md-6">
            <strong>Linha:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.linha}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.prefixo">
        <div class="widget-title col-md-6">
            <strong>Prefixo:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.integration.prefixo}}</span>
        </div>
    </div>
</div>
