body {
  padding-top: 70px;
  padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

.center-content {
  margin-top: 10%;
  text-align: center; }
  
.bg-text {
color: #fff; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.painel-info {
  padding: 1em 3em 1.5em 3em;
  background-color: #fff;
  border-radius: 15px;
  -moz-box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.75); 
}

.widget > .widget-body {
  margin-bottom: 0.5em; }
  .widget > .widget-body > header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.25em;
    text-align: center;
  }
    .widget > .widget-body > adf-widget-content > .widget-itens {
        margin-bottom: 10px;
    }
    .widget > .widget-body > adf-widget-content > .widget-itens > .row > .widget-title {
        text-align:right;
    }
    .widget > .widget-body > adf-widget-content > .widget-itens > .row > .widget-description {
        text-align:left;
        padding:0;
    }

.painel-status {
  margin-top: 1.25em; }

.conf-foto {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer; }
  .conf-foto > .icons {
    position: absolute;
    display: block;
    bottom: 45%;
    right: 45%;
    color: #00ff21; }

/* start image spinner */
.media-box {
  position: relative;
  overflow: hidden; }

.foto-cadastro > img, .foto-cadastro > .spinner, .foto-cadastro > .image-error {
  width: 100%;
  height: auto;
  min-height: 50px; }

.foto-acesso > img, .foto-acesso > .spinner, .foto-acesso > .image-error {
  width: 100%;
  height: auto;
  min-height: 50px; }

.media-box div {
  position: absolute;
  left: 0;
  top: 0; }

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  background: #000 url(../images/loading.gif) no-repeat center center;
  display: block; }

.image-error {
  position: absolute;
  left: 0;
  top: 0;
  background: #000 url(../images/image-error.png) no-repeat center center;
  display: block; }

.foto-cadastro > img.spinner-show,
.foto-acesso > img.spinner-show {
  visibility: hidden; }

.foto-cadastro > img.spinner-show,
.foto-acesso > img.spinner-show {
  visibility: visible; }

/* end image spinner */
.row.conferencias {
  margin-top: 1.5em; }

.row.painel-widgets {
  margin-left: -15px;
  margin-right: 0px;
}

textarea.full-width {
  min-width: 100%; }

/* Grid 5ths */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/* End Grid 5ths*/

.v-center {
  min-height:200px;
  display: flex;
  justify-content:center;
  flex-flow: column wrap;
}

.badge {
    font-size: 14px;
}

/*Google Fonts*/
@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Regular.eot');
    src: url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2-Regular.woff2') format('woff2'), url('../fonts/Exo2-Regular.woff') format('woff'), url('../fonts/Exo2-Regular.ttf') format('truetype'), url('../fonts/Exo2-Regular.svg#Exo2-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-ExtraBold.eot');
    src: url('../fonts/Exo2-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2-ExtraBold.woff2') format('woff2'), url('../fonts/Exo2-ExtraBold.woff') format('woff'), url('../fonts/Exo2-ExtraBold.ttf') format('truetype'), url('../fonts/Exo2-ExtraBold.svg#Exo2-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}

.nomeApp {
    font-family: 'Exo 2', 'Trebuchet MS Bold';
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    top: -5px;
    position: relative;
}