.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.normal-field {
  margin: 2px;
}
.item-field {
  margin: 2px;
  cursor: pointer;
}
.active-item {
  color: #fff;
  background-color: #f89333;
  border-color: #f89333;
}
.hidden-field {
  font-style: italic;
  text-decoration: line-through;
  color: #c3c3c3;
}
.column-order {
  cursor: pointer;
}
.column-order:hover,
.column-order:hover .fa {
  color: #3b87c8;
}
.column-order .fa {
  color: #c3c3c3;
}
.column-order .fa.active {
  color: #77acd9;
}
.grouped {
  text-decoration: underline;
}
tr.row-total-1 {
  background-color: #cee6ff;
  cursor: cell;
}
tr.row-total-1:hover {
  background-color: #d3e9ff !important;
}
tr.row-total-2 {
  background-color: #def;
  cursor: cell;
}
tr.row-total-2:hover {
  background-color: #e2f1ff !important;
}
tr.row-total-3 {
  background-color: #edf6ff;
  cursor: cell;
}
tr.row-total-3:hover {
  background-color: #f2f8ff !important;
}
tr.row-grandtotal {
  background-color: #9bcdff;
  color: #285f8f;
  font-weight: bold;
}
tr.row-grandtotal:hover {
  background-color: #a5d2ff !important;
  cursor: cell;
}
.field-container {
  position: relative;
  min-height: 200px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
}
.field-container .container-backtip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 1.5em;
  z-index: 10;
  cursor: default;
  text-align: center;
  color: #aaa;
}
.field-container .container-backtip .fa {
  color: #c3c3c3;
}
.field-container .container-drop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 150px;
}
.editor-field {
  margin: 2px;
  cursor: move;
}
.editor-field:hover {
  background-color: #fff;
}
.input-group-btn button {
  height: 34px;
}
.drag-forbidden {
  cursor: not-allowed;
  font-style: italic;
  text-decoration: line-through;
  color: #c3c3c3;
}
.drag-forbidden:hover {
  font-style: none;
  text-decoration: underline;
  color: #767676;
}
@media print {
  fab-container {
    display: none;
  }
}
fab-container .float {
  position: fixed;
  z-index: 2000;
}
fab-container .float.top {
  top: 2em;
}
fab-container .float.bottom {
  bottom: 5em;
}
fab-container .float.left {
  left: 2em;
}
fab-container .float.right {
  right: 2em;
}
.fab {
  cursor: pointer;
  display: grid;
}
.fab .green {
  color: rgb(34,229,124);
}
.fab:hover .green {
  color: #25a25a;
}
.fab .gold {
  color: #f1c40f;
}
.fab:hover .gold {
  color: #c29d0b;
}
.fab .red {
  color: rgb(255,0,80);
}
.fab:hover .red {
  color: #d62c1a;
}
.fab .blue {
    color: rgb(9,27,148);
}
.fab:hover .blue {
    color: #061475;
}
.fab .purple {
  color: rgb(194,158,255);
}
.fab:hover .purple {
  color: #8e4aa9;
}
panel .float {
  position: fixed;
  z-index: 3000;
  width: 920px;
}
panel .float.sm {
  width: 480px;
}
panel .float.md {
  width: 640px;
}
panel .float.lg {
  width: 920px;
}
panel .float.top {
  top: 2em;
}
panel .float.bottom {
  bottom: 2em;
}
panel .float.left {
  left: 2em;
}
panel .float.right {
  right: 2em;
}
panel input {
  max-width: none;
}
@media print {
  .print-area {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 9999;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}
body {
  overflow-y: scroll;
}
.align-right {
  padding-right: 1em;
  text-align: right;
}
/*# sourceMappingURL=atlas-engine.css.map */