.container {
  padding-top: 10%; }

.has-error {
  border: 1px solid #900; }

body {
    background-color: #ff6e00;
}

h1 {
    color: #FFF;
    /*position: absolute;*/
    text-align: center;
    font-size: 15pt;
    margin-top: 15px;
    width: 100%;
    font-family: 'Exo 2', 'Trebuchet MS Bold';
    font-weight: bold;
}

.enter_login {
    margin-top: 5px;
    float: right;
    border: none;
    background-color: #fff;
    padding: 5px 20px 5px 5px;
    background-position: 3px center;
    cursor: pointer;
    background-image: url(../images/forward.png);
    background-repeat: no-repeat;
    background-position: center right;
}

    .enter_login:hover {
        background-color: #f5f5f5;
    }


/*Google Fonts*/
@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Regular.eot');
    src: url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2-Regular.woff2') format('woff2'), url('../fonts/Exo2-Regular.woff') format('woff'), url('../fonts/Exo2-Regular.ttf') format('truetype'), url('../fonts/Exo2-Regular.svg#Exo2-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-ExtraBold.eot');
    src: url('../fonts/Exo2-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Exo2-ExtraBold.woff2') format('woff2'), url('../fonts/Exo2-ExtraBold.woff') format('woff'), url('../fonts/Exo2-ExtraBold.ttf') format('truetype'), url('../fonts/Exo2-ExtraBold.svg#Exo2-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}

.nomeApp {
    font-family: 'Exo 2', 'Trebuchet MS Bold';
    font-size: 2.0em;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
}