﻿.pdf-thumb-box {
    display:inline-block !important;
    position:relative !important;
    overflow: hidden;
}
.pdf-thumb-box-overlay {
    position: relative;
    bottom: 0;
    right: 0; 
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.2s, opacity 0.2s linear; 
}
.pdf-thumb-box:hover .pdf-thumb-box-overlay {
    visibility:visible;
    opacity:1;
    transition-delay:0.1s;
    text-align:center;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    width:100%;
    height:100%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.pdf-thumb-box-overlay > .row {
    margin: auto;
    position: relative;
    bottom:0;
    display:table;
    width: 100%;
    text-align: center;
}
.pdf-thumb-box .btn {
    margin: 0.2em 0.2em;
}

.modal.tela-cheia .modal-dialog {
    width: 98%;
    /*height: 92%;*/
    height: 100%;
    padding: 0;
}

.modal.tela-cheia .modal-content {
    /*height: 99%;*/
    height: auto;
}

.modal.tela-cheia .modal-body {
    overflow: auto;
}

.imagem-ampliada {
    position: relative;
}
.imagem-ampliada .image-error {
    width: 100%;
    height: 100px;
    z-index: 9999;
    position: absolute;
}