﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <title>TDMax WebFotos - Transdata Smart</title>

    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-transdata.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/login.min.css" />

    <script src= "~/js/modernizr.js"></script>
    <script src= "~/js/respond.min.js"></script>
</head>
<body ng-app="WebFotos.Login">

    <div class="container">
        <div id="login" class="row" ng-controller="LoginCtrl">
            <input type="hidden" ng-init="basePath = '@Url.Content("~/")'" />
            <div class="login col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <header>
                    <h1 class="nomeApp">TDMax WebFotos</h1>
                    @*<div class="hole"></div>*@
                    <p><img width="100px" height="100px" src="@Url.Content("~/images/tdmax/transdata_simbolo_white.svg")" alt="TDMax"></p>
                </header>
                <content>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Usuário</span>
                            <input name="username" ng-model="username" ng-keyup="$event.keyCode == 13 && submit()" focus-me="true" type="text" class="form-control" placeholder="Nome de usuário">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Senha</span>
                            <input name="password" ng-model="password" ng-keyup="$event.keyCode == 13 && submit()" type="password" class="form-control" placeholder="Senha">
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button ng-click="submit()" type="button" class="enter_login" ng-disabled="loading">
                            <span id="btnEntrar">
                                Entrar
                            </span>
                            <span id="btnAguarde" style="display: none;">
                                <img src="@Url.Content("~/images/spinner.gif")" alt="Aguarde" />
                                Aguarde
                            </span>
                        </button>
                    </div>
                </content>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind="alert.msg"></span></alert>
                <footer>
                    <p class="copyright">
                        Transdata &copy; 2018 - Todos os direitos reservados.
                    </p>
                    <p class="version">
                        <span ng-bind="$root.serverInfo.version"></span>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <toast></toast>

    <script src= "~/js/jquery.min.js"></script>
    <script src= "~/js/jquery-ui.min.js"></script>
    <script src= "~/js/bootstrap.min.js"></script>
    <script src= "~/js/app/library/Storage.js"></script>
    <script src= "~/js/app/library/Server.js"></script>
    <script src= "~/js/app/library/Cryptography.js"></script>
    <script src= "~/js/app/library/Crypto/aes.js"></script>
    <script src= "~/js/app/library/Crypto/aesprng.js"></script>
    <script src= "~/js/app/library/Crypto/entropy.js"></script>
    <script src= "~/js/app/library/Crypto/jscrypt.js"></script>
    <script src= "~/js/app/library/Crypto/md5.js"></script>
    <script src= "~/js/angular.min.js"></script>
    <script src= "~/js/ui-bootstrap.min.js"></script>
    <script src= "~/js/ui-bootstrap-tpls.min.js"></script>
    <script src= "~/js/app/data/app.js"></script>
    <script src= "~/js/app/data/login.js"></script>
    <script src= "~/js/app/data/serverInfo.js"></script>
    <script src= "~/js/app/data/sgv.js"></script>
    <script src= "~/js/app/common.js"></script>
    <script src= "~/js/app/login.js"></script>
</body>
</html>