﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 ng-if="!nome" class="modal-title"><span class="fa fa-user"></span> Adicionar usuário</h3>
    <h3 ng-if="nome" class="modal-title"><span class="fa fa-user"></span> Alterar usuário</h3>
</div>
<div class="modal-body form-horizontal">

    <div class="row text-center" ng-hide="loaded">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <div class="form-group" ng-if="loaded">
        <label for="usuario" class="col-sm-2 control-label">Usuário:</label>
        <div class="col-sm-10" ng-class="{ 'label-display' : nome }">
            <select ng-if="!nome" title="Selecione um Usuário" name="selUsuario" ng-model="combo.usuarioSelecionado"
                    class="selectpicker" data-live-search="true" ng-options="(u.Login.toLowerCase() + ' - ' + u.Nome) for u in combo.usuarios | orderBy:'Nome' track by u.UsuarioID" 
                    ng-value="{{u.UsuarioID}}" ng-change="atualizarCombo()" select-picker></select>

            <span ng-if="nome" ng-bind="nome"></span>
        </div>
    </div>

    <div class="form-group" ng-if="loaded">
        <label for="perfil" class="col-sm-2 control-label">Perfil:</label>
        <div class="col-sm-10">
            <select id="perfil" name="perfil" ng-model="perfis.perfil" class="form-control" style="width:350px; max-width:350px;"
                    ng-options="p.Descricao for p in perfis.itens track by p.PerfilID">
                <option value="" disabled selected>Selecione um perfil</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="salvarUsuario()"><i class="fa fa-plus fa-fw"></i> Salvar</button>
</div>