﻿<div class="container body-content">
    <h2><span class="fa fa-user"></span> Vincular usuários</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-8">
                <input type="text" ng-model="busca" ng-change="buscar(1000)"
                        placeholder="Pesquisar um nome de usuário específico..." class="form-control" style="max-width: initial;" />
            </div>

            <label for="perfil" class="control-label col-md-1" style="text-align:right;">Perfil</label>
            <div class="col-md-3">
                <select name="perfil" id="perfil" class="form-control" ng-change="buscar(400)"
                        ng-options="p.Descricao for p in perfis track by p.PerfilID"
                        ng-model="perfil"></select>
            </div>
        </div>
    </form>
    <hr />

    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" ng-click="addUsuario(0)">
                <i class="fa fa-plus fa-fw"></i>Adicionar Usuário
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table" cellspacing="1" cellpadding="0" border="0">
        <thead>
            <tr>
                <th style="width: 20%;">Login</th>
                <th style="width: 45%;">Nome</th>
                <th style="width: 20%;">Perfil</th>
                <th class="text-center" style="width: 15%;">Acões</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!loaded">
                <td colspan="100" class="text-center">
                    <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    <p>Aguarde, carregando...</p>
                </td>
            </tr>
            <tr ng-if="loaded && list.length == 0">
                <td colspan="100" class="text-center">
                    Nenhum usuário cadastrado!
                </td>
            </tr>
            <tr ng-if="loaded && list.length > 0" ng-repeat="up in list | startFrom: ((pag.currentPage-1) * pag.pageSize) |  limitTo:pag.pageSize"
                style="cursor: pointer;">
                <td ng-click="addUsuario(up.usuarioID)">{{up.login}}</td>
                <td ng-click="addUsuario(up.usuarioID)">{{up.nome}}</td>
                <td ng-click="addUsuario(up.usuarioID)">{{up.perfilDescricao}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-default btn-sm" ng-click="desativarUsuario(up)" title="Remover usuário">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="loaded" class="text-center">
        <pagination total-items="pag.totalItems" ng-model="pag.currentPage" max-size="pag.maxSize" items-per-page="pag.pageSize"
                    boundary-links="true" force-ellipses="true" ng-change="pageChanged()"
                    first-text="Primeiros" last-text="Últimos" ng-show="list.length > 0"
                    previous-text="&laquo; Anteriores" next-text="Próximos &raquo;">
        </pagination>
    </div>
</div>