﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title"><span class="fa fa-credit-card"></span> Adicionar tipos / subtipos</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="row text-center" ng-hide="loaded">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <div ng-if="loaded && tipos.length > 0 && subtipos.length == 0">
        <p><label class="control-label">Selecione o tipo:</label></p>
        <div class="list-group">
            <button class="list-group-item" ng-repeat="t in tipos" ng-click="selecionarTipo(t);" ng-bind="t.descricao"></button>
        </div>
    </div>

    <div ng-if="loaded && subtipos.length > 0">
        <div class="row">
            <div class="col-md-4">
                <h4><label class="control-label">Tipo: </label> <span ng-bind="tipoSelecionado.descricao"></span></h4>
            </div>
        </div>
        <hr />

        <div class="form-group container">
            <input class="form-control" type="text" ng-model="busca" placeholder="Pesquisar um subtipo específico..."/>
        </div>
        <button type="button" style="margin-left:5px;" class="btn btn-success pull-right" ng-click="selecionarTodos(filterSubtipos)"><i class="fa fa-check fa-fw"></i> Selecionar Todos</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="desmarcarTodos(filterSubtipos)"><i class="fa fa-times fa-fw"></i> Desmarcar Todos</button>

        <p><label class="control-label">Selecione um ou mais subtipos:</label></p>
        <div class="list-group" style="max-height: 360px; overflow-y: scroll; padding-bottom:2px; padding-top:2px;">
            <button class="list-group-item" ng-repeat="s in filterSubtipos = ( subtipos | filter:busca)" ng-class="{ 'active': s.selecionado }" ng-click="selecionarSubtipo(s);" ng-bind="s.descricao"></button>
            <span ng-show="!filterSubtipos.length" class="list-group-item">Nenhum subtipo encontrado!</span>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-if="loaded && subtipos.length > 0" ng-click="voltar()">Voltar</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" ng-if="subTiposSelecionados.length > 0" ng-click="save()"><i class="fa fa-plus fa-fw"></i> Adicionar</button>
</div>