﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title"><span class="fa fa-chain"></span> Adicionar penalização</h3>
</div>
<div class="modal-body form-horizontal">
    <h3>{{ordem}}º ou demais acessos</h3>
    <hr />

    <p><label class="control-label">Selecione uma penalização:</label></p>
    <div class="list-group">
        <button class="list-group-item" ng-repeat="t in tipos" ng-class="{ 'active': t.selecionado }" ng-click="selecionarTipo(t);" ng-bind="t.descricao"></button>
    </div>

    <hr />

   <input-number name="Periodo" ng-if="selecionado.id == 3" ng-model="selecionado.qtdDias" label="Período" min-value="1" max-value="255" required="true" 
                 precision="0" title="informe o período em dias."></input-number>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" ng-if="selecionado.id > 0" ng-click="save()"><i class="fa fa-plus fa-fw"></i> Adicionar</button>
</div>