﻿<div class="container body-content">
    <div ng-if="!loaded" class="text-center">
        <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
        <p>Aguarde, carregando...</p>
    </div>

    <div ng-if="loaded"> 
        <h2 ng-show="model.PenalizacaoID == 0"><span class="fa fa-chain"></span> Nova Penalização</h2>
        <h2 ng-show="model.PenalizacaoID > 0"><span class="fa fa-chain"></span> Alterar Penalização</h2>
        <hr />

        <div class="col-sm-12">
            <section>
                <td-form btn-submit="Salvar" btn-cancel="Cancelar" cancel-url="#/pesquisa-penalizacoes" on-submit="submit()" div-class-buttons="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label ng-binding" for="automatica"> Automática</label>
                        <div class="col-sm-10" >
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-class="{ 'btn-default': model.Automatica != true, 'btn-info': model.Automatica == true }" 
                                        ng-click="changeAut()">Sim</button>
                                <button type="button" class="btn btn-default" ng-class="{ 'btn-default': model.Automatica != false, 'btn-info': model.Automatica == false }" 
                                        ng-click="model.Automatica = false">Não</button>
                            </div>
                        </div>
                    </div>

                    <input-text ng-model="model.Descricao" label="Descrição" required="true" min-length="3" max-length="35" name="Descricao"></input-text>
                    <input-number ng-model="model.Expiracao" label="Tempo de expiração" min-value="0" max-value="9999" name="Expiracao"
                                  required="true" title="Período (em dias) de expiração das divergências. Use 0 (Zero) para não expirar.">
                    </input-number>

                    <input-date ng-model="model.DataIni" label="Data de Início"
                                title="Acessos a partir desta data serão penalizados, acessos anteriores serão desconsiderados. Use (vazio) para ignorar esta opção.">
                    </input-date>

                    <div class="form-group">
                        <label class="col-sm-2 control-label ng-binding" for="tipoDivergencia"> Definir divergência</label>
                        <div class="col-sm-10">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-class="{ 'btn-default': model.TipoDivergencia != true, 'btn-info': model.TipoDivergencia == true }"
                                        ng-click="model.TipoDivergencia = true">
                                    Por dia
                                </button>
                                <button type="button" class="btn btn-default" ng-class="{ 'btn-default': model.TipoDivergencia != false, 'btn-info': model.TipoDivergencia == false }"
                                        ng-click="model.TipoDivergencia = false">
                                    Por qtd
                                </button>
                            </div>
                            <i class="fa fa-question-circle fa-1x" title="Ajuda" ng-click="ajuda()" style="cursor:pointer"> </i>
                        </div>
                    </div>

                    <input-number ng-if="model.TipoDivergencia == false" ng-model="model.Divergencia" label="Quantidade" min-value="1" max-value="15" name="Divergencia"
                                  required="true" title="Informe a quantidade de acessos divergentes necessários para formação de uma divergência.">
                    </input-number>

                    <br />
                    <div class="container col-sm-12">
                        <a class="btn btn-success" ng-click="addPenalizacao()" style="position:relative; float:right; top:3px; right:10px;">
                            <i class="fa fa-plus fa-fw"></i>Adicionar
                        </a>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f89333; cursor:pointer";>
                                    <h4 class="panel-title" data-toggle="collapse" href="#penalizacoes" >
                                        <a style="color:white; font-weight:bold"> Penalizações <span class="caret"></span></a>
                                    </h4>
                                </div>
                                <div class="panel-body" style="max-height: 245px; overflow-y: scroll; padding-bottom:0px; padding-top:0px;">
                                    <div id="penalizacoes" class="panel-collapse collapse in">
                                        <table class="table table-responsive table-hover" style="margin-bottom:3px; margin-top:3px;">
                                            <tbody ui-sortable ng-model="model.PenalizacoesOrdens">
                                                <tr ng-if="model.PenalizacoesOrdens.length == 0">
                                                    <td colspan="100" class="text-center">
                                                        Nenhuma penalização!
                                                    </td>
                                                </tr>
                                                <tr ng-if="model.PenalizacoesOrdens.length > 0" ng-repeat="i in model.PenalizacoesOrdens | filter: { PenalizacaoTipoID: '!5' }" 
                                                    style="cursor: move;">
                                                    <td ng-if="($index + 1) < model.PenalizacoesOrdens.length">{{$index + 1}}ª divergência</td>
                                                    <td ng-if="($index + 1) == model.PenalizacoesOrdens.length">{{$index + 1}}ª ou demais divergências</td>
                                                    <td ng-if="i.QtdDias > 0">{{i.Descricao}} - {{i.QtdDias}} dia(s)</td>
                                                    <td ng-if="i.QtdDias == 0">{{i.Descricao}}</td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-default btn-sm" ng-click="removerPenalizacaoOrdem($index)" title="Remover penalização">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody style="border-top:0px;">
                                                <tr ng-if="model.PenalizacoesOrdens.length > 0" ng-repeat="i in model.PenalizacoesOrdens | filter: { PenalizacaoTipoID: 5 }">
                                                    <td> {{model.PenalizacoesOrdens.length}}ª ou demais divergência</td>
                                                    <td> {{i.Descricao}}</td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-default btn-sm" ng-click="removerPenalizacaoOrdem(model.PenalizacoesOrdens.length -1)"
                                                                title="Remover penalização">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container col-sm-12">
                        <a class="btn btn-success" ng-click="addTiposSubtipos()" style="position:relative; float:right; top:3px; right:10px;">
                            <i class="fa fa-plus fa-fw"></i>Adicionar
                        </a>
                        <a class="btn btn-danger" ng-click="removerTiposSubtipos()" ng-if="TsSelecionados.length > 0" style="position:relative; float:right; top:3px; right:20px;">
                            <i class="fa fa-trash fa-fw"></i>Remover selecionados
                        </a>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f89333; cursor:pointer;">
                                    <h4 class="panel-title" data-toggle="collapse" href="#tiposSubtipos">
                                        <a style="color:white; font-weight:bold"> Tipos / Subtipos <span class="caret"></span></a>
                                    </h4>
                                </div>
                                <div class="panel-body" style="max-height: 220px; overflow-y: scroll; padding-bottom:0px; padding-top:0px;">
                                    <div id="tiposSubtipos" class="panel-collapse collapse in">
                                        <table ng-if="model.TiposSubtipos.length == 0" class="table table-responsive table-hover" style="margin-bottom:3px; margin-top:3px;">
                                            <tbody>
                                                <tr>
                                                    <td colspan="100" class="text-center">
                                                        Nenhum tipo / subtipo!
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="list-group" ng-if="model.TiposSubtipos.length > 0" style="margin: 0px;">
                                            <div class="col-sm-3" ng-repeat="t in model.TiposSubtipos" style="padding: 5px;">
                                                <button type="button" class="list-group-item" style="min-height: 60px;" ng-class="{ 'active': t.Selecionado }"
                                                        ng-click="selecionarTipoSubtipo(t);">
                                                    {{t.Tipo}} / {{t.Subtipo}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="col-sm-12"/>
                </td-form>
            </section>
        </div>
    </div>
</div>