﻿<div class="container body-content">
    <h2><span class="fa fa-chain"></span> Penalizações</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                <input type="text" ng-model="busca" ng-change="buscar(1000)"
                        placeholder="Digite a descrição da penalização" class="form-control" style="max-width: initial;" />
            </div>

            <label for="tipo" class="control-label col-md-1" style="text-align:right;">Tipo</label>
            <div class="col-md-3">
                <select name="tipo" id="tipo" class="form-control" ng-change="getSubtipo()"
                        ng-options="op.descricao for op in tipos track by op.id"
                        ng-model="tipo"></select>
            </div>

            <label for="subTipo" class="control-label col-md-1" style="text-align:right;">SubTipo</label>
            <div class="col-md-3">
                <select name="subTipo" id="subTipo" class="form-control" ng-change="buscar(100)"
                        ng-options="op.descricao for op in subtipos track by op.id"
                        ng-model="subtipo"></select>
            </div>
        </div>
    </form>

    <hr />

    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" ng-href="{{'#/cadastro-penalizacoes'}}">
                <i class="fa fa-plus fa-fw"></i>Nova Penalização
            </a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th style="min-width:150px">Descrição</th>
                <th class="text-center">Automática</th>
                <th class="text-center">Expiração</th>
                <th class="text-center">Divergência</th>
                <th>Tipo / Subtipo</th>
                <th style="min-width:60px" class="text-center">Acões</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!loaded">
                <td colspan="100" class="text-center">
                    <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    <p>Aguarde, carregando...</p>
                </td>
            </tr>
            <tr ng-if="loaded && list.length == 0">
                <td colspan="100" class="text-center">
                    Nenhuma penalização!
                </td>
            </tr>
            <tr ng-if="loaded && list.length > 0" ng-repeat="i in list | startFrom: ((pag.currentPage-1) * pag.pageSize) |  limitTo:pag.pageSize" style="cursor:pointer;">
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" ng-bind="i.descricao"></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" class="text-center" ng-if="!i.automatica"> <i title="Não" style="color:red" class="fa fa-times fa-fw"></i></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" class="text-center" ng-if="i.automatica"> <i title="Sim" style="color:green" class="fa fa-check fa-fw"></i></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" class="text-center" ng-if="i.expiracao > 0" ng-bind="i.expiracao"></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" class="text-center" ng-if="i.expiracao == 0"> <i title="Não expira" style="color:red" class="fa fa-ban fa-fw"></i></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" class="text-center" ng-if="i.divergencia > 0" ng-bind="i.divergencia"></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" class="text-center" ng-if="i.divergencia == 0"> <i title="Por dia" class="fa fa-calendar fa-fw"></i></td>
                <td such-href="/cadastro-penalizacoes/{{i.penalizacaoid}}" ng-bind="i.tiposSubtipos"></td>
                <td class="text-center">
                    <button type="button" class="btn btn-default btn-sm" ng-click="removerPenalizacao(i)" title="Remover penalização">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="loaded" class="text-center">
        <pagination total-items="pag.totalItems" ng-model="pag.currentPage" max-size="pag.maxSize" items-per-page="pag.pageSize"
                        boundary-links="true" force-ellipses="true"
                        first-text="Primeiros" last-text="Últimos" ng-show="list.length > 0"
                        previous-text="&laquo; Anteriores" next-text="Próximos &raquo;">
        </pagination>
    </div>
</div>