<form role="form">
    <div class="form-group">
        <label for="date">Formato da data</label>
        <input type="text" class="form-control" id="date" ng-model="config.datePattern">
    </div>
    <div class="form-group">
        <label for="time">Formato da hora</label>
        <input type="text" class="form-control" id="time" ng-model="config.timePattern">
    </div>
</form>