﻿<div class="container body-content">
    <h2 ng-show="model.GrupoOperadoraID == 0"><span class="fa fa-users"></span> Novo Grupo de Operadora</h2>
    <h2 ng-show="model.GrupoOperadoraID > 0"><span class="fa fa-users"></span> Editar Grupo de Operadora</h2>
    <hr />

    <div class="row">
        <div class="col-sm-12">
            <section>

                <div class="row text-center" ng-hide="loaded">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>

                <td-form ng-if="loaded" btn-submit="Salvar" btn-cancel="Cancelar" cancel-url="#/pesquisa-grupo-operadora" on-submit="salvarGrupoOperadora()" div-class-buttons="col-sm-12">
                    <input-text ng-model="model.NomeGrupoOperadora" label="Nome" required="true" min-length="3" max-length="50"></input-text>

                    <div class="form-group">
                        <label for="admin" class="col-sm-2 control-label">Admin:</label>
                        <div class="col-sm-3">
                            <select title="Selecione o administrador do Grupo" name="selUsuario" ng-model="combo.usuarioAdminSelecionado"
                                    class="selectpicker" data-live-search="true" ng-change="atualizarCombo()"
                                    ng-options="(u.Login.toLowerCase() + ' - ' + u.Nome) for u in combo.usuarios | orderBy:'Nome' track by u.UsuarioID" select-picker></select>
                        </div>
                    </div>

                    <div class="container col-sm-12">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#f89333;">
                                    <h4 class="panel-title">
                                        <a style="color:white; font-weight:bold"> Empresas do grupo</a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="form-group container">
                                            <div class="col-sm-1">
                                                <h4><strong>Disponíveis</strong></h4>
                                            </div>

                                            <div class="col-sm-4">
                                                <input class="form-control pull-right" type="text" ng-model="busca.disp" placeholder="Pesquisar uma empresa específica..." />
                                            </div>

                                            <div class="col-sm-1 col-sm-offset-1">
                                                <h4 class="text-center"><strong>Selecionadas</strong></h4>
                                            </div>

                                            <div class="col-sm-4">
                                                <input class="form-control pull-right" type="text" ng-model="busca.sel" placeholder="Pesquisar uma empresa específica..." />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-5" style="width:45.5%;">
                                            <select multiple="multiple" id="available" class="form-control" style="max-width:100%; height: 260px"
                                                    ng-model="empDisp.empresasDisponiveisSelecao"
                                                    ng-options="i.NomeFantasia for i in filterDisp = (empDisp.empresasDisponiveis | filter:busca.disp | orderBy:'NomeFantasia')"></select>
                                        </div>

                                        <div class="col-sm-1 text-center" style="padding-top:1%">
                                            <button style="min-width:60%" type="button" title="Mover" class="btn btn-default btn-sm"
                                                    ng-click="btnRight()">
                                                <i class="fa fa-chevron-right"></i>
                                            </button>
                                            <br /><br /><br />
                                            <button style="min-width:60%" type="button" title="Recuar" class="btn btn-default btn-sm"
                                                    ng-click="btnLeft()">
                                                <i class="fa fa-chevron-left"></i>
                                            </button>
                                            <br /><br /><br />
                                            <button style="min-width:60%" type="button" title="Mover todos" class="btn btn-default btn-sm"
                                                    ng-click="moveAllRight(filterDisp)">
                                                <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
                                            </button>
                                            <br /><br /><br />
                                            <button style="min-width:60%" type="button" title="Recuar todos" class="btn btn-default btn-sm"
                                                    ng-click="moveAllLeft(filterSel)">
                                                <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>
                                            </button>
                                        </div>

                                        <div class="col-sm-5" style="width:45.5%;">
                                            <select multiple="multiple" id="selectedlist" class="form-control" style="max-width:100%; height: 260px"
                                                    ng-model="empSel.empresasSelecionadasSelecao"
                                                    ng-options="i as i.NomeFantasia for i in filterSel = (empSel.empresasSelecionadas | filter:busca.sel | orderBy:'NomeFantasia')"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td-form>
            </section>
        </div>
    </div>
</div>

