﻿<div class="container body-content">

    <h2><span class="fa fa-users"></span> Grupos de Operadoras</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <input ng-model="busca" ng-change="buscar(1000)" type="text" class="form-control"
                       placeholder="Informe um trecho do nome do grupo para pesquisa" style="max-width: initial;" />
            </div>
        </div>
    </form>
    <hr />

    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" ng-href="{{'#/cadastro-grupo-operadora'}}">
                <i class="fa fa-plus fa-fw"></i>Novo Grupo
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table" cellspacing="1" cellpadding="0" border="0">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Administrador</th>
                <th class="text-center" style="width: 10%;">Acões</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!loaded">
                <td colspan="100" class="text-center">
                    <p><i class="fa fa-spinner fa-spin fa-2x"></i></p>
                    <p>Aguarde, carregando...</p>
                </td>
            </tr>
            <tr ng-if="loaded && list.length == 0">
                <td colspan="100" class="text-center">
                    Nenhum Grupo de Operadoras!
                </td>
            </tr>
            <tr ng-if="loaded && list.length > 0" ng-repeat="go in list | startFrom: ((pag.currentPage-1) * pag.pageSize) |  limitTo:pag.pageSize"
                style="cursor: pointer;">
                <td such-href="/cadastro-grupo-operadora/{{go.grupoOperadoraID}}">{{go.nomeGrupoOperadora}}</td>
                <td such-href="/cadastro-grupo-operadora/{{go.grupoOperadoraID}}">{{go.usuarioAdminNome}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-default btn-sm" ng-click="desativarGrupoOperadora(go)" title="Remover grupo de operadora">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="loaded" class="text-center">
        <pagination total-items="pag.totalItems" ng-model="pag.currentPage" max-size="pag.maxSize" items-per-page="pag.pageSize"
                    boundary-links="true" force-ellipses="true"
                    first-text="Primeiros" last-text="Últimos" ng-show="list.length > 0"
                    previous-text="&laquo; Anteriores" next-text="Próximos &raquo;">
        </pagination>
    </div>
</div>