﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Alterar senha</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-3 control-label">Senha atual:</label>
        <div class="col-sm-9">
            <input ng-model="oldPassword" type="password" class="form-control" placeholder="Digite a sua senha atual" />
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-3 control-label">Nova senha:</label>
        <div class="col-sm-9">
            <input ng-model="newPassword" type="password" class="form-control" placeholder="Digite a sua nova senha" />
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-3 control-label">Redigite:</label>
        <div class="col-sm-9">
            <input ng-model="confirmation" type="password" class="form-control" placeholder="Redigite a sua nova senha" />
        </div>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind="alert.msg"></span></alert>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="save()"><i class="fa fa-save fa-fw"></i> Salvar</button>
</div>