﻿<div class="row painel-status">
    <div ng-show="editMode" class="pull-right">
        <div class="btn-group" role="group" aria-label="Editar painel de informações">
            <a ng-click="addWidgetDialog();" title="Adicionar novo widget" class="btn btn-default">
                <i class="fa fa-plus fa-fw fa-2x"></i>
            </a>
            <a ng-click="editDashboardDialog();" title="Configurar painel" class="btn btn-default">
                <i class="fa fa-cog fa-fw fa-2x"></i>
            </a>
            <a ng-click="toggleEditMode();" title="Salvar alterações" class="btn btn-default">
                <i class="fa fa-save fa-fw fa-2x"></i>
            </a>
            <a ng-click="cancelEditMode();" title="Cancelar" class="btn btn-default">
                <i class="fa fa-repeat adf-flip fa-fw fa-2x"></i>
            </a>
        </div>
    </div>
    <div ng-hide="editMode || $root.controller === 'AplicarPenalizacaoCtrl'" class="pull-right">
        <div class="btn-group" role="group" aria-label="Informações sobre o processo de conferência">
            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('naoConfere')" class="btn btn-default" title="<C> - Não confere">
                <i class="fa fa-remove fa-fw fa-2x"></i>
                <span ng-class="{'ng-hide' : $root.controller === 'ConferenciaEmbarcadoCtrl' || $root.controller === 'ConferenciaGratuitoCtrl' || $root.controller === 'ReclassificacaoCtrl'}"></span>
            </a>
            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('ninguemNoFoco')" class="btn btn-default" title="<F> - Ninguém no foco">
                <i class="fa fa-ban fa-fw fa-2x"></i>
                <span ng-class="{'ng-hide' : $root.controller === 'ConferenciaEmbarcadoCtrl' || $root.controller === 'ConferenciaGratuitoCtrl' || $root.controller === 'ReclassificacaoCtrl'}"></span>
            </a>
            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('duvida')" class="btn btn-default" title="<E> - Dúvida">
                <i class="fa fa-question fa-fw fa-2x"></i>
                <span ng-class="{'ng-hide' : $root.controller === 'ConferenciaEmbarcadoCtrl' || $root.controller === 'ConferenciaGratuitoCtrl' || $root.controller === 'ReclassificacaoCtrl'}"></span>
            </a>
        </div>
        <a ng-disabled="$root.loading" ng-click="$root.problemaCamera()" class="btn btn-danger" title="<S> - Problemas na câmera">
            <i class="fa fa-camera fa-fw fa-2x"></i>
        </a>
    </div>

    <div ng-hide="editMode || $root.controller !== 'AplicarPenalizacaoCtrl'" class="pull-right">
        <div class="btn-group" role="group" aria-label="Informações sobre o processo de conferência">
            <a ng-disabled="$root.loading" ng-click="$root.setVerificacao('naoConfere')" class="btn btn-danger" title="<P> - Penalizar">
                <i class="fa fa-chain fa-fw fa-2x"></i>
            </a>
        </div>
    </div>

</div>