﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Oops!</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="alert alert-danger">
        <p>Erro na conexão com o banco de dados!</p>
        <p>Por favor tente novamente mais tarde!</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Fechar</button>
</div>