﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Fim da Comparação</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="alert alert-success">
        Comparação finalizada com sucesso!
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Fechar</button>
</div>