﻿<div class="center-content bg-text">
    <h2>Bem-vindo(a), <span ng-bind="$root.user.Name"></span>!</h2>
    <h4>Pressione <a href="#conferencia" class="btn btn-default"><i class="fa fa-play fa-fw"></i> Iniciar Conferência</a> para iniciar a conferência de fotos.</h4>
</div>
