﻿<ul class="nav navbar-nav" ng-show="($root.controller === 'ConferenciaCtrl')">
    <li>
        <a href="" ng-disabled="!$root.navAllowPrevious" wf-conf-anterior>
            <i class="fa fa-chevron-left fa-fw"></i> Conferência Anterior
        </a>
    </li>
    <li>
        <a href="" ng-disabled="!$root.navAllowNext" wf-conf-proxima>
            <i class="fa fa-chevron-right fa-fw"></i>Próxima Conferência
        </a>
    </li>
</ul>