﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Problema na câmera</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <p>Escreva abaixo uma breve descrição do problema que você notou nas imagens desta comparação.</p>
            <p>Não se preocupe em incluir os dados da transação ou do lote, pois eles serão automaticamente 
            registrados junto com a sua observação.</p>
            <div class="alert alert-warning" ng-show="error"><i class="fa fa-warning fa-fw"></i>
            Descreva o problema na caixa de texto abaixo!</div>
            <textarea name="descricao" ng-model="descricao" class="form-control full-width" rows="4" 
                      placeholder="Digite aqui a descrição do problema"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Cancelar</button>
    <button type="button" class="btn btn-success" ng-click="send()"><i class="fa fa-paper-plane fa-fw"></i> Enviar</button>
</div>