﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Resumo da Verificação de Lote</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="alert alert-success">
        Lote finalizado com sucesso!
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-unstyled">
                <li><strong>Lote:</strong> {{lote.Id}}</li>
                <li><strong>Total de transações do lote:</strong> {{lote.TotalFotos}}</li>
                <li><strong>Conf. Automática Comparou:</strong> {{lote.TotalIBP}}</li>
                <li><strong>Conf. Automática não Comparou:</strong> {{lote.TotalIBN}}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-unstyled">
                <li><strong>Total de comparações:</strong> {{lote.TotalConferidas}}</li>
                <li><strong>Máximo divergências permitidas:</strong> {{lote.MaximoDivergencias}}</li>
                <li><strong>Total de divergências:</strong> {{lote.TotalDivergencias}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="!lote" data-dissmiss="modal">Fechar</button>
    <button type="button" class="btn btn-success" ng-click="continue()" ng-disabled="!lote"><i class="fa fa-plus fa-fw"></i> Iniciar nova verificação</button>
</div>