﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Bom trabalho!</h3>
</div>
<div class="modal-body form-horizontal">
    <div class="alert alert-success">
        <p>Por enquanto não há mais fotos para serem comparadas.</p>
        <p>Volte novamente mais tarde!</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()" data-dissmiss="modal">Fechar</button>
</div>