﻿<div class="container body-content">

    <div ng-app="WebFotos.Relatorios" ng-controller="ExibeRelatorioCtrl as vm">
        <h1 ng-bind="vm.titulo"></h1>

        <toast></toast>

        <div class="row" ng-if="vm.loading">
            <div class="text-center">
                <p><i class="fa fa-refresh fa-fw fa-spin fa-3x"></i></p>
                <p>Aguarde, carregando...</p>
            </div>
        </div>

        <div class="row" ng-if="!vm.loading">
            <div class="alert alert-info" ng-if="vm.contarItens() > 0">
                <i class="fa fa-filter fa-fw"></i>
                <strong>Filtros:</strong>
                <ul>
                    <li ng-repeat="col in vm.reportData.columns" ng-if="vm.filtroAtivo(col, vm.filteredBy[col.id])">
                        {{ ::col.label }}: {{ vm.filteredBy[col.id] | ImprimirFiltro:col.type }}
                    </li>
                </ul>
            </div>

            <panel title="Tabela dinâmica" float="bottom right" visibility="vm.showPivotEditor">
                <pivot-editor input="vm.reportData" output="vm.pivotedData" settings="vm.userSettings"></pivot-editor>
            </panel>

            <pivot-display data="vm.pivotedData"></pivot-display>
        </div>
    </div>
</div>