﻿<div ng-app="WebFotos.Relatorios" ng-controller="ExibeRelatorioCtrl as vm">
    <div class="body-content" ng-class="{ 'container-atlas': (!vm.viewChart), 'container-chart': (vm.viewChart) }">
        <h1 ng-bind="vm.titulo"></h1>

        <toast></toast>

        <div class="row" ng-if="vm.loading">
            <div class="text-center">
                <p><i class="fa fa-spinner fa-spin fa-3x"></i></p>
                <p>Aguarde, carregando...</p>
            </div>
        </div>

        <div class="row" ng-if="!vm.loading">
            <fab-container ng-if="!vm.showFilters && !vm.showShareHistory && !vm.showPivotEditor && !vm.showPivotChartEditor && !vm.showShareForm" float="bottom right">
                <fab icon="filter" color="blue" title="Filtrar" toggle="vm.showFilters" ignore-out-click="vm.ignoreShowFilters" data-toggle="tooltip" data-placement="left"></fab>
                <fab icon="cubes" color="purple" title="Tabela<br>dinâmica" toggle="vm.showPivotEditor" ignore-out-click="vm.ignorePivotEditor" data-html="true"
                     data-toggle="tooltip" data-placement="left" ng-if="!vm.viewChart"></fab>
                <fab icon="cubes" color="purple" title="Tabela dinâmica" toggle="vm.showPivotChartEditor" ignore-out-click="vm.ignoreChartEditor" 
                     data-toggle="tooltip" data-placement="left" ng-if="vm.viewChart"></fab>
                <fab icon="share-alt" color="gold" title="Compartilhar" toggle="vm.showShareHistory" ignore-out-click="vm.ignoreShareHistory"
                     data-toggle="tooltip" data-placement="left"></fab>
                <fab icon="table" color="green" title="Exportar<br>para CSV" emit="ExportCSV" data="vm.pivotedData" data-toggle="tooltip" data-placement="left" data-html="true"></fab>
                <fab icon="print" color="red" title="Imprimir" emit="Print" data-toggle="tooltip" data-placement="left"></fab>
            </fab-container>

            <div class="alert alert-info" ng-if="vm.contarItens() > 0">
                <i class="fa fa-filter fa-fw"></i>
                <strong>Filtros:</strong>
                <ul>
                    <li ng-repeat="col in vm.reportData.columns" ng-if="vm.filtroAtivo(col, vm.filteredBy[col.id])">
                        {{ ::col.label }}: {{ vm.filteredBy[col.id] | ImprimirFiltro:col.type }}
                    </li>
                </ul>
            </div>

            <panel panel-title="Filtros" float="bottom right sm" visibility="vm.showFilters"
                   action-fn="vm.aplicarFiltros()" action-label="Aplicar" click-outside="vm.showFilters=false">
                <div class="panel-scroll">
                    <div class="form-group" ng-repeat="col in vm.reportData.columns">
                        <label for="busca-{{ ::col.Nome }}" class="control-label">{{ ::col.label }}</label>
                        <div ng-switch="col.type">
                            <div ng-switch-when="date">
                                <div ng-init="vm.carregarDatePicker()">
                                    <div class="input-daterange input-group">
                                        <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].start" />
                                        <span class="input-group-addon">até</span>
                                        <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].end" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="datetime">
                                <div ng-init="vm.carregarDatePicker()">
                                    <div class="input-daterange input-group">
                                        <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].start" />
                                        <span class="input-group-addon">até</span>
                                        <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].end" />
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="integer">
                                <div class="input-range input-group">
                                    <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].min" />
                                    <span class="input-group-addon">até</span>
                                    <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].max" />
                                </div>
                            </div>
                            <div ng-switch-when="decimal">
                                <div class="input-range input-group">
                                    <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].min" />
                                    <span class="input-group-addon">até</span>
                                    <input type="text" class="input-sm form-control" ng-model="vm.filter[col.id].max" />
                                </div>
                            </div>
                            <div ng-switch-when="boolean">
                                <div class="btn-group">
                                    <button type="button" class="btn" ng-class="{ 'btn-default': vm.filter[col.id] != undefined, 'btn-info': vm.filter[col.id] == undefined }" ng-click="vm.filter[col.id] = undefined">Todos</button>
                                    <button type="button" class="btn" ng-class="{ 'btn-default': vm.filter[col.id] != 'true', 'btn-info': vm.filter[col.id] == 'true' }" ng-click="vm.filter[col.id] = 'true'">Sim</button>
                                    <button type="button" class="btn" ng-class="{ 'btn-default': vm.filter[col.id] != 'false', 'btn-info': vm.filter[col.id] == 'false' }" ng-click="vm.filter[col.id] = 'false'">Não</button>
                                </div>
                            </div>
                            <div ng-switch-default>
                                <input type="text" id="busca-{{ ::col.id }}" ng-model="vm.filter[col.id]" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </panel>

            <panel panel-title="Compartilhar" float="bottom right sm" visibility="vm.showShareHistory" click-outside="vm.showShareHistory=false">
                <p>Links deste relatório salvos por você.</p>
                <span ng-if="vm.showShareHistory" ng-init="vm.visualizarHistorico()"></span>

                <div ng-if="vm.historicoLinks">
                    <p ng-if="vm.historicoLinks.length === 0">
                        Nenhum link encontrado.
                    </p>
                    <div class="list-group" ng-if="vm.historicoLinks.length > 0">
                        <div class="list-group">
                            <a class="list-group-item" href="" ng-repeat="i in vm.historicoLinks" ng-click="vm.carregarLink(i)">
                                <span ng-bind="i.Descricao"></span>
                                <span class="badge" ng-bind="i.DataCriacao | FormatarTempo"></span>
                            </a>
                        </div>
                    </div>
                    <div class="form-inline" ng-if="vm.historicoLinks.length > 0 || vm.buscaHistorico">
                        <label for="buscaHistorico" class="control-label">Filtrar:</label>
                        <input id="buscaHistorico" name="buscaHistorico" type="text" class="form-control" placeholder="Filtrar histórico" ng-model="vm.buscaHistorico" ng-change="vm.consultarHistorico()" />
                    </div>
                    <div class="row">
                        <div class="pull-left" ng-if="vm.paginaHistorico > 1">
                            <button type="button" class="btn btn-link" ng-click="vm.historicoAnteriores()"><i class="fa fa-chevron-left fa-fw"></i> Mais recentes</button>
                        </div>
                        <div class="pull-right" ng-if="!vm.ultimaPaginaHistorico">
                            <button type="button" class="btn btn-link" ng-click="vm.historicoProximos()">Mais antigos <i class="fa fa-chevron-right fa-fw"></i></button>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-default pull-right" ng-click="vm.showShareHistory = false; vm.showShareForm = true;">
                    <i class="fa fa-share-alt fa-fw"></i>
                    <span ng-if="!vm.linkAtual">Compartilhar novo link</span>
                    <span ng-if="vm.linkAtual">Compartilhar link atual</span>
                </button>
            </panel>

            <panel panel-title="Compartilhar" float="bottom right sm" visibility="vm.showShareForm" click-outside="vm.showShareForm=false">
                <p>Compartilhe este relatório com alguém, ou apenas guarde uma cópia para você.</p>

                <div ng-if="!vm.linkAtual">
                    <button type="button" class="btn btn-default" ng-click="vm.salvarLink()">
                        <i class="fa fa-link fa-fw"></i>
                        Salvar Link
                    </button>
                </div>

                <div ng-if="vm.linkAtual">
                    <p>
                        <strong>Descrição:</strong> <span ng-bind="vm.linkDescricao"></span>
                        <a class="btn btn-info btn-xs" href="" ng-click="vm.editarDescricao()">Editar</a>
                    </p>
                    <div class="form-inline">
                        <div class="form-group" ng-if="!vm.enviandoEmail">
                            <label for="permalink" class="control-label">Link:</label>
                            <div class="input-group">
                                <input id="permalink" name="permalink" type="text" class="form-control" placeholder="Link permanente para o relatório" ng-model="vm.linkAtual" />
                                <div class="input-group-btn input-group-block">
                                    <button id="btnCopiarLink" type="button" class="btn btn-default" title="Copiar link" ng-click="vm.copiarLink()"
                                            data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-copy fa-fw"></i>
                                        Copiar
                                    </button>
                                    <!--<button id="btnEnviarEmail" class="btn btn-default" type="button" title="Enviar por email" ng-click="vm.enviandoEmail = true">
                                        <i class="fa fa-envelope-o fa-fw"></i>
                                        Enviar
                                    </button>-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group" ng-if="vm.enviandoEmail">
                            <label for="permalink" class="control-label">Email:</label>
                            <div class="input-group">
                                <input id="permalink" name="permalink" type="text" class="form-control" placeholder="Endereço de email" ng-model="vm.enderecoEmail" />
                                <div class="input-group-btn input-group-block">
                                    <button type="button" class="btn btn-default" title="Enviar link por email" ng-click="vm.enviarEmail()">
                                        <i class="fa fa-send fa-fw"></i>
                                        Enviar
                                    </button>
                                    <button class="btn btn-default" type="button" title="Cancelar" ng-click="vm.enviandoEmail = false">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </panel>

            <panel ng-if="!vm.viewChart" panel-title="Tabela dinâmica" float="bottom right" visibility="vm.showPivotEditor"
                   action-fn="vm.salvarConfiguracoes()" action-label="Salvar" click-outside="vm.showPivotEditor=false">
                <pivot-editor input="vm.reportData" output="vm.pivotedData" settings="vm.userSettings"></pivot-editor>
            </panel>

            <panel ng-if="vm.viewChart" panel-title="Tabela dinâmica" float="bottom right sm" visibility="vm.showPivotChartEditor"
                   action-fn="vm.salvarConfiguracoes()" action-label="Salvar" click-outside="vm.showPivotChartEditor=false">
                <pivot-chart-editor input="vm.reportData" output="vm.pivotedData" settings="vm.userSettings"></pivot-chart-editor>
            </panel>

            <pivot-display ng-if="!vm.viewChart" data="vm.pivotedData" action-fn="vm.rowCallbackClick(id)"></pivot-display>

            <pivot-chart ng-if="vm.viewChart" data="vm.pivotedData"></pivot-chart>
        </div>
    </div>
    <!-- Types of rel
        config.type = 'bar';
        config.type = 'radar';

        config.type = 'bubble';
        config.type = 'doughnut';
        config.type = 'polarArea';
        config.type = 'scatter';
   -->
</div>