﻿<div class="container body-content">
    <h2><span class="fa fa-pie-chart"></span> Relatórios</h2>

    <hr />

    <div class="row">
        <div ng-if="relatorios.length == 0" class="text-center">
            <i class="fa fa-frown-o fa-fw fa-4x"></i>
            <h3>Não há nenhum relatório disponível!</h3>
        </div>

        <div ng-if="relatorios.length > 0">
            <div ng-repeat="r in relatorios" class="col-sm-12 col-md-3 thumbnail-menu">
                <a class="thumbnail text-center" such-href="/exibe-relatorio/{{r.Id}}">
                    <i class="fa fa-area-chart fa-fw fa-4x"></i>
                    <p>
                        <strong>{{r.Titulo}}</strong>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>