﻿<form role="form">
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.cadastroId" /> Código do cadastro</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.numSerie" /> Cartão utilizado</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.cadastroTipo" /> Tipo do cadastro</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.subTipo" /> Subtipo do cadastro</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.acessosMeiaViagem" /> Qtde. Máx. Acessos por Meia Viagem</label>
    </div>
</form>