﻿<div class="widget-itens col-md-12">
    <div class="row" ng-show="config.exibir.cadastroId">
        <div class="widget-title col-md-6">
            <strong>Cadastro:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.register.cadastroId}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.numSerie">
        <div class="widget-title col-md-6">
            <strong>Cartão utilizado:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.register.numSerie}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.cadastroTipo">
        <div class="widget-title col-md-6">
            <strong>Tipo cadastro:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.register.cadastroTipo}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.subTipo">
        <div class="widget-title col-md-6">
            <strong>Subtipo cadastro:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.register.subTipo}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.acessosMeiaViagem">
        <div class="widget-title col-md-6">
            <strong>Acessos Meia Viagem:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.register.acessosMeiaViagem}}</span>
        </div>
    </div>
</div>