﻿<form role="form">
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.cartaoAtual" /> Cartão Atual</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.status" /> Status</label>
    </div>
</form>