﻿<div class="widget-itens col-md-12">
    <div class="row" ng-show="config.exibir.cartaoAtual">
        <div class="widget-title col-md-5">
            <strong>Cartão Atual:</strong>
        </div>
        <div class="widget-description col-md-7">
            <span>{{data.cadastro.cartaoAtual}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.status">
        <div class="widget-title col-md-5">
            <strong>Status:</strong>
        </div>
        <div class="widget-description col-md-7">
            <span>{{data.cadastro.status}}</span>
        </div>
    </div>
</div>