﻿<form role="form">
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.notificadas" /> Notificadas</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.canceladas" /> Canceladas</label>
    </div>
    <div class="form-group">
        <label><input type="checkbox" ng-model="config.exibir.total" /> Total</label>
    </div>
</form>