﻿<div class="widget-itens col-md-12">
    <div class="row" ng-show="config.exibir.notificadas">
        <div class="widget-title col-md-6">
            <strong>Notificadas:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.advertencias.notificadas}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.canceladas">
        <div class="widget-title col-md-6">
            <strong>Canceladas:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.advertencias.canceladas}}</span>
        </div>
    </div>

    <div class="row" ng-show="config.exibir.total">
        <div class="widget-title col-md-6">
            <strong>Total:</strong>
        </div>
        <div class="widget-description col-md-6">
            <span>{{data.advertencias.total}}</span>
        </div>
    </div>
</div>
